@using MudBlazor
@using SmartphonePortal_Vervoort_Wagner.Shared.ViewModels

<div class="p-2 border border-gray-800 rounded-md ">
    <div class="flex justify-between">
        <div>
            <h3 class="text-xl font-bold">@Review.Title</h3>
            <MudRating ReadOnly="@true" SelectedValue="@Review.Rating" />
        </div>
        <h4 class="">by @Review.UserName</h4>
    </div>
    <hr />
    <p>@Review.Text</p>
</div>


@code {
    [Parameter] public ReviewViewModel Review { get; set; } = new();
}
