@page "/admin/phones"
@using Microsoft.AspNetCore.Authorization
@using SmartphonePortal_Vervoort_Wagner.Client.Partials
@using SmartphonePortal_Vervoort_Wagner.Client.Partials.Phone
@using SmartphonePortal_Vervoort_Wagner.Shared.ViewModels
@using System.Text.Json
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient Client;

@layout AdminLayout


<div class="max-w-2xl mx-auto">
    <div class="mt-10">
        <h3 class="text-3xl">Phones</h3>
        <hr />
    </div>

    <div class="mt-10">
        @if (IsDataFetched)
        {
            @if (!string.IsNullOrEmpty(Error))
            {
                <div class="flex h-20 bg-red-100 rounded-lg text-center text-xl font-bold my-5">
                    <p class="m-2">
                        @Error
                    </p>
                </div>
            }

            @if (IsEditModalOpen)
            {
                <PhoneEditModal OnClose=@OnEditModalClose Categories=@Categories Manufacturers=@Manufacturers Processors=@Processors Smartphone=@SmartphoneToEdit />
            }
            @if (IsAddModalOpen)
            {
                <PhoneAddModal OnClose=@OnAddModalClose Categories=@Categories Manufacturers=@Manufacturers Processors=@Processors />
            }
            @if (IsDeleteModalOpen)
            {
                <PhoneDeleteModal OnClose=@OnDeleteModalClose Smartphone=@SmartphoneToDelete />
            }


            <div class="divide-y">

                <div class="grid grid-cols-12 divide-x overflow-hidden font-bold">
                    <div class="h-10 px-2 pt-2 overflow-hidden">
                        Id
                    </div>
                    <div class="h-10 px-2 pt-2 col-span-3 overflow-hidden">
                        Name
                    </div>
                    <div class="h-10 px-2 pt-2 col-span-2 overflow-hidden">
                        Category
                    </div>
                    <div class="h-10 px-2 pt-2 col-span-2 overflow-hidden">
                        Manufacturer
                    </div>
                    <div class="h-10 px-2 pt-2 col-span-2 overflow-hidden">
                        Processor
                    </div>
                    <div class="h-10 text-center flex justify-center col-span-2 overflow-hidden">
                        <button class="w-full hover:bg-green-300"
                            @onclick=@OpenAddModal>
                            <i class="fa-solid fa-square-plus fa-lg"></i>
                        </button>
                    </div>
                </div>
                @foreach (var phone in Smartphones)
                {
                    <div class="grid grid-cols-12 divide-x overflow-hidden">
                        <div class="h-10 px-2 pt-2 overflow-hidden">
                            @phone.SmartphoneId
                        </div>
                        <div class="h-10 px-2 pt-2 col-span-3 overflow-hidden">
                            @phone.Name
                        </div>
                        <div class="h-10 px-2 pt-2 col-span-2 overflow-hidden">
                            @phone.Category.Name
                        </div>
                        <div class="h-10 px-2 pt-2 col-span-2 overflow-hidden">
                            @phone.Manufacturer.Name
                        </div>
                        <div class="h-10 px-2 pt-2 col-span-2 overflow-hidden">
                            @phone.Processor.Title
                        </div>
                        <div class="flex h-10 divide-x col-span-2 overflow-hidden">
                            <button class="flex-1 hover:bg-sky-400 focus:bg-sky-400 transition ease-in-out" @onclick="() => OpenEditModal(phone)"><i class="fa-solid fa-pen"></i></button>
                            <button class="flex-1 hover:bg-red-400 focus:bg-red-400 transition ease-in-out" @onclick="() => OpenDeleteModal(phone)"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <Loader />
        }

        <hr />

    </div>
</div>

@code {
    public List<SmartphoneViewModel> Smartphones { get; set; } = new();
    public List<CategoryViewModel> Categories { get; set; } = new();
    public List<ManufacturerViewModel> Manufacturers { get; set; } = new();
    public List<ProcessorViewModel> Processors { get; set; } = new();

    public bool IsDataFetched { get; set; } = false;
    public string Error { get; set; } = string.Empty;
    public bool IsEditModalOpen { get; set; }
    public bool IsAddModalOpen { get; set; }
    public bool IsDeleteModalOpen { get; set; }

    public SmartphoneViewModel SmartphoneToEdit { get; set; } = new();
    public SmartphoneViewModel SmartphoneToDelete { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
        await base.OnInitializedAsync();
    }


    // Edit Phone Modal handling
    public async void OnEditModalClose()
    {
        IsEditModalOpen = false;
        await FetchData();
    }
    public void OpenEditModal(SmartphoneViewModel phone)
    {
        SmartphoneToEdit = phone;
        IsEditModalOpen = true;
        return;
    }

    // Add Phone Modal handling
    public async void OnAddModalClose()
    {
        IsAddModalOpen = false;
        await FetchData();
    }
    public void OpenAddModal()
    {
        IsAddModalOpen = true;
        return;
    }

    // Delete Phone Modal handling
    public async void OnDeleteModalClose()
    {
        IsDeleteModalOpen = false;
        await FetchData();
    }
    public void OpenDeleteModal(SmartphoneViewModel phone)
    {
        SmartphoneToDelete = phone;
        IsDeleteModalOpen = true;
        return;
    }


    private async Task FetchData()
    {
        try
        {
            Smartphones = await Client.GetFromJsonAsync<List<SmartphoneViewModel>>("/Smartphone/all") ?? new();
            Categories = await Client.GetFromJsonAsync<List<CategoryViewModel>>("/Category/all") ?? new();
            Manufacturers = await Client.GetFromJsonAsync<List<ManufacturerViewModel>>("/Manufacturer/all") ?? new();
            Processors = await Client.GetFromJsonAsync<List<ProcessorViewModel>>("/Processor/all") ?? new();

            //Console.WriteLine(JsonSerializer.Serialize(Smartphones[0]));
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            // idk
            Error = "Some Error occurred: " + ex.Message;
        }
        finally
        {
            IsDataFetched = true;
        }
    }
}
