@page "/admin/processors"

@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using SmartphonePortal_Vervoort_Wagner.Client.Partials
@using SmartphonePortal_Vervoort_Wagner.Client.Partials.Processor
@using SmartphonePortal_Vervoort_Wagner.Shared.ViewModels
@using System.Text.Json
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient Client;

@layout AdminLayout


<div class="max-w-3xl mx-auto">
    <div class="mt-10">
        <h3 class="text-3xl">Processors</h3>
        <hr />
    </div>

    <div class="mt-10">
        @if (IsDataFetched)
        {
            @if (!string.IsNullOrEmpty(Error))
            {
                <div class="flex h-20 bg-red-100 rounded-lg text-center text-xl font-bold my-5">
                    <p class="m-2">
                        @Error
                    </p>
                </div>
            }

            @if (IsEditModalOpen)
            {
                <ProcessorEditModal OnClose="@OnEditModalClose" Processor="ProcessorToEdit" />
            }
            @if (IsAddModalOpen)
            {
                <ProcessorAddModal OnClose="@OnAddModalClose" />
            }
            @if (IsDeleteModalOpen)
            {
                <ProcessorDeleteModal OnClose="@OnDeleteModalClose" Processor="ProcessorToDelete" />
            }

            <MudTable Items="@ProcessorModels" Dense="@true" Hover="@true" Bordered="@true" Filter="new Func<ProcessorViewModel,bool>(FilterFunc1)">
                <ToolBarContent>
                    <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>Title</MudTh>
                    <MudTh>Core Count</MudTh>
                    <MudTh>Gigaherz</MudTh>
                    <MudTh Class="w-20">
                        <div class="w-20 h-10">
                            <button class="w-full h-full hover:bg-green-300"
                                @onclick=@OpenAddModal>
                                <i class="fa-solid fa-square-plus fa-lg"></i>
                            </button>
                        </div>
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Id">@context.ProcessorId</MudTd>
                    <MudTd DataLabel="Title">@context.Title</MudTd>
                    <MudTd DataLabel="Core Count">@context.Gigaherz</MudTd>
                    <MudTd DataLabel="Gigaherz">@context.CoreCount</MudTd>
                    <MudTd>
                        <div class="h-10 flex justify-between">
                            <button class="flex-1 hover:bg-sky-400 focus:bg-sky-400 transition ease-in-out" @onclick="() => OpenEditModal(context)"><i class="fa-solid fa-pen"></i></button>
                            <button class="flex-1 hover:bg-red-400 focus:bg-red-400 transition ease-in-out" @onclick="() => OpenDeleteModal(context)"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        }
        else
        {
            <Loader />
        }

        <hr />

    </div>
</div>

@code {
    public List<ProcessorViewModel> ProcessorModels { get; set; } = new();
    public bool IsDataFetched { get; set; } = false;
    public string Error { get; set; } = string.Empty;
    public bool IsEditModalOpen { get; set; }
    public bool IsAddModalOpen { get; set; }
    public bool IsDeleteModalOpen { get; set; }

    public ProcessorViewModel ProcessorToEdit { get; set; } = new();
    public ProcessorViewModel ProcessorToDelete { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await FetchProcessors();
        await base.OnInitializedAsync();
    }


    // Edit Processor Modal handling
    public async void OnEditModalClose()
    {
        IsEditModalOpen = false;
        await FetchProcessors();
    }
    public void OpenEditModal(ProcessorViewModel processor)
    {
        ProcessorToEdit = processor;
        IsEditModalOpen = true;
        return;
    }

    // Add Processor Modal handling
    public async void OnAddModalClose()
    {
        IsAddModalOpen = false;
        await FetchProcessors();
    }
    public void OpenAddModal()
    {
        IsAddModalOpen = true;
        return;
    }

    // Delete Processor Modal handling
    public async void OnDeleteModalClose()
    {
        IsDeleteModalOpen = false;
        await FetchProcessors();
    }
    public void OpenDeleteModal(ProcessorViewModel processor)
    {
        ProcessorToDelete = processor;
        IsDeleteModalOpen = true;
        return;
    }


    private async Task FetchProcessors()
    {
        try
        {
            ProcessorModels = await Client.GetFromJsonAsync<List<ProcessorViewModel>>("/api/Processor/all") ?? new();
            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            // idk
            Error = "Some Error occurred: " + ex.Message;
        }
        finally
        {
            IsDataFetched = true;
        }
    }

    private String searchString1 { get; set; } = string.Empty;
    private bool FilterFunc1(ProcessorViewModel element) => FilterFunc(element, searchString1);

    private bool FilterFunc(ProcessorViewModel element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if ($"{element.ProcessorId} {element.Title} {element.Gigaherz} {element.CoreCount} ".Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}
