@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="ml-2 flex-column divide-y">
    <li class="mb-2 pt-2">
        <a class="m-auto mx-4 text-black align-text-top relative inline-flex items-center after:h-0.5 after:-bottom-1 after:w-0 hover:after:w-full after:absolute after:bg-slate-700 after:left-0 after:right-0 after:mx-auto after:my-0  font-medium leading-5 hover:text-black focus:outline-none focus:text-black focus:black after:transition-all after:duration-550 transition-all duration-250 ease-in-out @ManageNavPages.IndexNavClass(ViewContext)"
           id="profile"
           asp-page="./Index">Profile</a>
    </li>
    <li class="mb-2 pt-2">
        <a class="m-auto mx-4 text-black align-text-top relative inline-flex items-center after:h-0.5 after:-bottom-1 after:w-0 hover:after:w-full after:absolute after:bg-slate-700 after:left-0 after:right-0 after:mx-auto after:my-0  font-medium leading-5 hover:text-black focus:outline-none focus:text-black focus:black after:transition-all after:duration-550 transition-all duration-250 ease-in-out @ManageNavPages.EmailNavClass(ViewContext)"
           id="email"
           asp-page="./Email">Email</a>
    </li>
    <li class="mb-2 pt-2">
        <a class="m-auto mx-4 text-black align-text-top relative inline-flex items-center after:h-0.5 after:-bottom-1 after:w-0 hover:after:w-full after:absolute after:bg-slate-700 after:left-0 after:right-0 after:mx-auto after:my-0  font-medium leading-5 hover:text-black focus:outline-none focus:text-black focus:black after:transition-all after:duration-550 transition-all duration-250 ease-in-out @ManageNavPages.ChangePasswordNavClass(ViewContext)"
           id="change-password"
           asp-page="./ChangePassword">Password</a>
    </li>
@*    @if (hasExternalLogins)
    {
        <li id="external-logins" class="mb-2 pt-2">
            <a id="external-login" class="m-auto mx-4 text-black align-text-top relative inline-flex items-center after:h-0.5 after:-bottom-1 after:w-0 hover:after:w-full after:absolute after:bg-slate-700 after:left-0 after:right-0 after:mx-auto after:my-0  font-medium leading-5 hover:text-black focus:outline-none focus:text-black focus:black after:transition-all after:duration-550 transition-all duration-250 ease-in-out @ManageNavPages.ExternalLoginsNavClass(ViewContext)"
           asp-page="./ExternalLogins">External logins</a>
        </li>
    }
    <li class="mb-2 pt-2">
        <a class="m-auto mx-4 text-black align-text-top relative inline-flex items-center after:h-0.5 after:-bottom-1 after:w-0 hover:after:w-full after:absolute after:bg-slate-700 after:left-0 after:right-0 after:mx-auto after:my-0  font-medium leading-5 hover:text-black focus:outline-none focus:text-black focus:black after:transition-all after:duration-550 transition-all duration-250 ease-in-out @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"
           id="two-factor"
           asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    </li>*@
    <li class="mb-2 pt-2">
        <a class="m-auto mx-4 text-black align-text-top relative inline-flex items-center after:h-0.5 after:-bottom-1 after:w-0 hover:after:w-full after:absolute after:bg-slate-700 after:left-0 after:right-0 after:mx-auto after:my-0  font-medium leading-5 hover:text-black focus:outline-none focus:text-black focus:black after:transition-all after:duration-550 transition-all duration-250 ease-in-out @ManageNavPages.PersonalDataNavClass(ViewContext)"
           id="personal-data"
           asp-page="./PersonalData">Personal data</a>
    </li>
</ul>
<style>
a.active {
    color: black;
}
a.active::after {
    width: 100%;
}
a.responsive-active {
    color: black;
    border-color: rgb(51 65 85);
    background-color: white;
}
</style>