@using System.Text.Json
@using SmartphonePortal_Vervoort_Wagner.Shared.Requests
@inject HttpClient Client


<EditForm EditContext=@editContext>
    <!-- Main modal -->
    <div class="fixed absolute z-45 w-full sm:p-4 overflow-x-hidden overflow-y-auto md:inset-0 md:h-full"
         id="defaultModal"
         tabindex="-1">
        <div class="relative w-full h-full max-w-2xl md:h-auto mx-auto">

            <!-- Modal content -->
            <div class="relative bg-gray-100 rounded-lg shadow">

                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t">
                    <h3 class="text-xl font-semibold text-gray-900">
                        Add User
                    </h3>
                    <button class="text-gray-500 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                            type="button"
                            @onclick=@Cancel>
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                @if (RequestInProcess)
                {
                    <Loader />
                }
                <!-- Modal body -->
                <div class="p-6 space-y-6">

                    <div class="flex flex-col my-2">
                        <label class="block mb-2 text-gray-900" for="email_input">
                            E-Mail
                        </label>
                        <InputText class="px-2 rounded border border-gray-400 bg-white h-10"
                                   id="email_input"
                                   type="email"
                                   @bind-Value="@Profile.Email" />
                        <div class="text-sm text-red-600">
                            <ValidationMessage For=@( () => Profile.Email) />
                        </div>
                    </div>
                    <div class="flex flex-col my-2">
                        <label class="block mb-2 text-gray-900" for="pw_input">
                            Password
                        </label>
                        <InputText class="px-2 rounded border border-gray-400 bg-white h-10"
                                   id="pw_input"
                                   type="password"
                                   @bind-Value="@Profile.Password" />
                        <div class="text-sm text-red-600">
                            <ValidationMessage For=@( () => Profile.Password) />
                        </div>
                    </div>
                    <div class="flex flex-col my-2">
                        <label for="roles" class="block mb-2 text-gray-900">
                            Select an option
                        </label>
                        <InputSelect class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                                     @bind-Value="@Profile.Role">
                            <option selected disabled value="">please select a role</option>
                            @foreach (var role in Roles)
                            {
                                <option value="@role">@role</option>
                            }
                        </InputSelect>
                        <div class="text-sm text-red-600">
                            <ValidationMessage For=@( () => Profile.Role) />
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="flex justify-end p-6 space-x-2 border-t border-gray-200 rounded-b">
                    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            type="submit"
                            @onclick=@Save>
                        Save
                    </button>
                    <button class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
                            type="button"
                            @onclick=@Cancel>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public List<string> Roles { get; set; } = new();

    public ProfileCreationRequest Profile { get; set; } = new();
    public bool RequestInProcess { get; set; }

    private EditContext? editContext;

    protected override Task OnInitializedAsync()
    {
        editContext = new(Profile);
        editContext.EnableDataAnnotationsValidation();

        return base.OnInitializedAsync();
    }

    private Task Cancel()
    {
        return OnClose.InvokeAsync(false);
    }
    private async Task Save()
    {
        if (editContext == null)
        {
            Console.WriteLine("Editcontext was null in UserAddModal");
            return;
        }

        if (!editContext.Validate())
        {
            return;
        }

        RequestInProcess = true;

        var response = await Client.PostAsync("Profile/create", JsonContent.Create<ProfileCreationRequest>(Profile));
        RequestInProcess = false;
        await OnClose.InvokeAsync(true);
    }
}